* {
    padding: 0;
    margin: 0;
    font-family: Quicksand;
}
body {
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
html, body {
    height: 100%;
}
html {
    background: #eee;
}
.box {
    width: 100vw;
    height: 100vh;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    background: #a5bbdd;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 200px;
    min-height: 350px;
}
.wave {
    opacity: 0.3;
    position: absolute;
    top: 100%;
    left: 50%;
    background: white;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}
.wave.-three {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}
.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
}
.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}
@keyframes drift {
    from {
        transform: rotate(0deg);
   }
    from {
        transform: rotate(360deg);
   }
}
.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
}
.location {
    text-align: center;
    font-weight: 800;
}
.date {
    text-align: center;
    margin-top: 5%;
    color: #9a9a9a;
    font-size: 70%;
}
.temp {
    margin-top: 10%;
    text-align: center;
}
.weathercon {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
@media (max-width: 600px) {
    .box {
        width: 90vw;
        height: 80vh;
   }
    .wave {
        top: 85%;
   }
    .weathercon {
        font-size: 5em;
   }
    .info {
        font-size: 1.5rem;
   }
}
@media (max-height: 500px) {
    .box {
        height: 80vh;
   }
    .wave {
        top: 115%;
   }
}
body > span {
    width: 100vw;
    text-align: center;
    color: grey;
}

:root {
    --font-body: Poppins, sans-serif;
    --secondary: #eef7fe;
    --primary: #22215b;
    --primary-light: #2f2f31;
}
html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-family: var(--font-body);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e7e9f0;
}
ul {
    list-style: none;
}
button {
    font-family: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
}
.card {
    background: #fff;
    width: 500px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 32px;
}
.card__info__place {
    font-size: 14px;
    color: var(--primary-light);
}
.card__info__time {
    font-size: 30px;
    color: var(--primary);
}
.card__info__date {
    font-size: 14px;
    color: var(--primary-light);
}
.card__weather {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}
.card__weather__temp {
    font-size: 30px;
}
.card__weather__icon {
    animation: move 1s infinite alternate ease-in-out;
}
@keyframes move {
    to {
        transform: translateY(-10px);
   }
}
